@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Madhu Shop</h1>
 </div>

<partial name="_ClothOnSale"/>

<h2>Cloth On Sale</h2>
<div class="row" >

    @foreach (var cloth in Model.ClothOnSale)
    {
    <partial name="_Clothitem" model="cloth" />
    }
</div>